<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to my website</h1>
    <p>Welcome to <%= title %>    ---- testing CI </p>
  </body>
</html>
